* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(10, 10, 41, 1), rgba(10, 10, 41, 1)), url(images/newbg2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

/* Order list container */
#orderListContainer {
    padding: 20px; /* Add padding around the container */
    margin-top: 80px; /* Ensure the container is pushed down below the navbar */
}

/* Order item styling */
.order-item {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
    color: #fff; /* White text for visibility */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.order-item h3 {
    margin: 0;
    font-size: 18px;
    color: #fff; /* White heading text */
}

.order-item p {
    margin: 5px 0;
    color: #ccc; /* Light grey for paragraph text */
}
.buy-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #218838;
}
/* Responsive adjustments */
@media(max-width: 700px) {
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
      }
    
}
